.menu-opened {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: rgb(107, 107, 121);
    display: none;
    padding: 10px;
}

.close-menu {
    position: absolute;
    left: 0;
}

.dark-mode-on {
    display: none;
}

.menu-opened nav {
    gap: 10px;
    font-size: 1.4rem;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.menu-opened nav a {
    color: #fff;
}